<h1 align="center">All users</h1>

<div align="center">
	<%= will_paginate %>

	<% @users.each do |u| %>

		<%=  u.first_name %></br>
		<%=  u.email %></br>
		<%=  u.id    %></br>
		<%= link_to "View profile!", user_path(u) %>
		<hr>

	<% end %>

	<%= will_paginate %>
</div>