<div align="center">
	<h1>
		Welcome to <%= @user.email %>'s page!
	</h1>

	<h3>
		All listings by <%= @user.email %>!
	</h3>

	<%= will_paginate @listings %>

	<% @listings.each do |l| %>

		Listing name:	<%=  l.name %></br>
		Location :	<%=  l.location %></br>
		No of rooms :	<%=  l.no_of_rooms %></br>
		Created by <%=  l.user.email %></br>
		<%= link_to "View listing", user_listing_path(@user, l) %>
		<hr>

	<%= will_paginate @listings %>

	<% end %>
</div>

<div align="center">
<% if current_user == @user %>
	<%= link_to "Create a new listing", new_user_listing_path(@user) %>
<% end %>
</div>